<h1>Linha do Tempo</h1>

{{#if string}}
    <div class="alert alert-{{info.type}}">
        {{info.message}}
    </div>

    {{!-- <div class="alert alert-{{string}}">
        
    </div> --}}
{{/if}}

{{#if string}}
    <div class="alert alert-{{info.type}}">
        {{info.message}}
    </div>

    {{!-- <div class="alert alert-{{string}}">
        
    </div> --}}
{{/if}}

<ul class="list-group">
    {{#each data}}
        <li class="list-group-item">
            <h2>{{this.authorName}}</h2>
            <a href='/posts/{{this._id}}'>{{this.title}}</a>
            <p class="text-justify card-subtitle text-muted text-truncate ">{{this.body}}</p>
        </li>
    {{/each}}
</ul>

<style>
p {
  text-overflow:"...";
  }
</style>