<h1>{{post.title}}</h1>
<h5>{{authorName}}</h5>
<p class="text-justify">{{post.body}}</p>
<hr/>

{{#if videoExists}}
    <video id="videoPlayer" controls>
        <source src="http://localhost:3000/video/{{post.title}}" type="video/mp4">
    </video>
{{/if}}

{{#if user}}
    {{#if canEditAndDelete}}
        <a class="btn btn-default" href="/posts/edit/{{post._id}}">Editar</a>
        <a class="btn btn-danger" href="/posts/delete/{{post._id}}">Apagar</a>
    {{/if}}
{{/if}}

<form action="/comments/create" method="POST">
    <textarea name="commentPost" cols="80" rows="10"></textarea>
    <input type="hidden" name="userId" value={{req.user._id}}>
    <input type="hidden" name="postId" value={{post._id}}>
    <input class="btn btn-info" type="submit">
</form>