<h1>{{post.title}}</h1>
<h5>{{authorName}}</h5>
<p>{{post.body}}</p>
<hr/>
{{#if user}}
    <a class="btn btn-default" href="/posts/edit/{{post._id}}">Editar</a>
    <a class="btn btn-danger" href="/posts/delete/{{post._id}}">Apagar</a>
{{/if}}

