<h1>{{post.title}}</h1>
<h5>{{post.author}}</h5>
<p>{{post.body}}</p>
<hr/>
<a class="btn btn-default" href="/posts/edit/{{post._id}}">Editar</a>
<a class="btn btn-danger" href="/posts/delete/{{post._id}}">Apagar</a>